
  #container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 40px);
    grid-template-columns: repeat(var(--grid-cols), 40px);
    justify-content: center;
    align-content: center;
  }
  
  .grid-item {
    padding: 50%;
    border: 1px solid #ddd;
  }

  .active {
    background: black;
    border: 1px solid #ddd;
    padding: 50%;
  }